* {
	box-sizing: border-box;
}

body, html, div {
	padding: 0;
	margin: 0;
	/*height: 100%;*/
}

.g {
	max-width: 900px;
	margin: 0 auto;
}

.gx, .gy {
	display: flex;
	flex-wrap: nowrap;
	height: 100%;
}

.gx { flex-direction: row; }
.gy { flex-direction: column; }





.c1,
.c2,
.c3,
.c4,
.c5,
.c6,
.c7,
.c8,
.c9,
.c10,
.c11,
.c12,
.ca,
.c { display: flex; }

.c1 { flex: 1; }
.c2 { flex: 2; }
.c3 { flex: 3; }
.c4 { flex: 4; }
.c5 { flex: 5; }
.c6 { flex: 6; }
.c7 { flex: 7; }
.c8 { flex: 8; }
.c9 { flex: 9; }
.c10 { flex: 10; }
.c11 { flex: 11; }
.c12, .c { flex: 12; }





.gx > .m1 { margin-left: 1rem; }
.gx > .m2 { margin-left: 2rem; }

.gy > .m1 { margin-top: 1rem; }
.gy > .m2 { margin-top: 2rem; }




.gpx > .c { padding-left: 1rem; padding-right: 1rem; }
.gpy > .c { padding-top: 1rem; padding-bottom: 1rem; }

.gmx > .c { margin-left: 1rem; margin-right: 1rem; }
.gmy > .c { margin-top: 1rem; margin-bottom: 1rem; }

